<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="OD.Licensing" version="0.1.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="Vendr.Core" version="0.1.0-alpha0418" targetFramework="net472" />
  <package id="Vendr.Core.Web" version="0.1.0-alpha0418" targetFramework="net472" />
</packages>